<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>minorityreport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C1AD0731EF05544000704FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C1AD0871EF05545000704FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C1AD0921EF05545000704FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
